.pref_manager{
    padding-block: 50px;
}
.pref_manager > .heading{
    font-size: 24px;
    margin-bottom: 50px;
}
.pref_manager label{
    font-size: 20px;
}

.pref_manager .box .delete:hover{
    opacity: 1;
}
.pref_manager input,
.pref_manager input:focus{
    color: white;
    background-color: var(--secondary);
}

.pref_manager .pref_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: var(--primary);
    color: white;
    border-radius: 100%;
    border: 2px solid var(--secondary);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
}
.pref_manager .pref_card:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pref_manager .pref_card img{
    height: 100px;
    margin-bottom: 10px;
}
.pref_manager .pref_card .delete{
    position: absolute;
    right: 0px;
    bottom: 42%;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}
.pref_manager .pref_card .delete:hover{
    opacity: 1;
}