.message_cont{
    margin-left: 80px;
    height: 100vh;
    position: relative;
}
.message_cont .chat_header{
    background-color: var(--chat);
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: calc(20vw + 80px);
    right: 0;
    z-index: 5;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 70px;
}
.message_cont .chat_header .delete_message{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    background-color: var(--error);
    display: grid;
    place-items: center;
    border: 2px solid var(--lineColour);
    border-radius: 100%;
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.3s ease-in-out;
}
.message_cont .chat_header .delete_message:hover{
    filter: brightness(1);
    border: 2px solid white;
}
.message_cont .chat_header .dp{
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message_cont .user_board{
    position: fixed;
    top: 0;
    left: 80px;
    bottom: 0;
    width: 20vw;
    background-color: rgb(17,27,33);
    z-index: 4;
    overflow-y: scroll;
    outline: none;
}
.message_cont .user_board .search_sec{
    padding-inline: 10px;
}
.message_cont .user_board .search_cont{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(42,57,66);
}
.message_cont .user_board .unknown_user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    cursor: pointer;
    border-top: 1px solid var(--chat);
    border-bottom: 1px solid var(--chat);
    background-color: rgb(17,27,33);
    transition: 0.3s ease-in-out;
}
.message_cont .user_board .unknown_user:hover{
    filter: brightness(1.4);
}
.message_cont .user_board .unknown_user svg{
    font-size: 20px;
    margin-right: 5px;
}
.message_cont .user_board .unknown_user .secretMessageCount{
    background-color: var(--btnColour);
    height: 22px;
    width: 22px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 10px;
}
.message_cont .user_board .user{
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(17,27,33);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.message_cont .user_board .user:hover{
    filter: brightness(1.4);
}
.message_cont .user_board .user.active{
    filter: brightness(1.8);
}
.message_cont .user_board .user .dp{
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.message_cont .user_board .user .chat_details{
    margin-inline: 5px;
    padding-inline: 5px;
    padding-block: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--chat);
    border-bottom: 1px solid var(--chat);
}
.message_cont .user_board .user .name{
    font-size: 15px;
    font-weight: 500;
}
.message_cont .user_board .user .chat_details .msg_preview{
    font-size: 11px;
    overflow: hidden;
    width: inherit;
}
.message_cont .user_board .user .unread_message_alert{
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 5px;
    background-color: var(--btnColour);
    height: 22px;
    width: 22px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}
.message_cont .chat_section{
    position: absolute;
    top: 0;
    left: 20vw;
    right: 0;
    bottom: 0;
    padding-top: 70px;
    padding-bottom: 90px;
    overflow-y: scroll;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./background.jpg);
}
.message_cont .chat_section .conversation_sec{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.message_cont .chat_section .conversation_sec .date{
    align-self: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(32, 44, 51, 0.69);
    margin-bottom: 5px;
    color: rgb(134, 150, 160);
    font-size: 14px;
}
.message_cont .chat_section .message{
    position: relative;
    padding: 10px 10px;
    padding-bottom: 18px;
    background-color: var(--chat);
    min-width: 80px;
    max-width: 65%;
    width: fit-content;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 10px;
    align-self: flex-start;
    font-size: 14px;
    overflow-wrap: break-word;
}
.message_cont .chat_section .message .time{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-weight: 300;
    font-size: 10px;
}
.message_cont .chat_section .message::after{
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    height: 15px;
    width: 10px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    background-color: var(--chat);
}
.message_cont .chat_section .message.active{
    align-self: flex-end;
    right: 0;
    border-radius: 10px;
    border-top-right-radius: 0px;
    background-color: rgb(0,92,75);
}
.message_cont .chat_section .message.active::after{
    display: none;
}
.message_cont .chat_section .message.active::before{
    content: '';
    position: absolute;
    top: 0;
    right: -9px;
    height: 15px;
    width: 10px;
    clip-path: polygon(0 100%, 100% 0, 0 0);
    background-color: rgb(0,92,75);
}
.message_cont .user_board::-webkit-scrollbar,
.message_cont .chat_section::-webkit-scrollbar,
.message_cont .chat_footer textarea::-webkit-scrollbar{
    width: 0.4vw;
    min-width: 3px;
}
.message_cont .user_board::-webkit-scrollbar-thumb,
.message_cont .chat_section::-webkit-scrollbar-thumb,
.message_cont .chat_footer textarea::-webkit-scrollbar-thumb{
    border-radius: 0px;
    border: none;
    background-color: rgba(225, 225, 225, 0.2);
}

.message_cont .chat_footer{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--chat);
    height: 12%;
    max-height: 80px;
    min-height: 50px;
    position: fixed;
    bottom: 0;
    left: calc(20vw + 80px);
    right: 0;
}
.message_cont .chat_footer .input{
    width: 100%;
    height: 100%;
}
.message_cont .chat_footer .input textarea{
    background-color: rgb(42,57,66);
    outline: none;
    border: none;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}
.message_cont .chat_footer .send_btn{
    margin-left: 20px;
    height: 45px;
    width: 45px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    color: white;
    background-color: var(--btnColour);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.message_cont .chat_footer .send_btn:hover{
    transform: scale(1.2);
}
.message_cont .chat_footer .send_btn.active{
    animation: bounce 0.5s;
}
@keyframes bounce {
    0%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.1);
    }
}
.message_cont .error_message{
    font-size: 14px;
    color: var(--error);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}
.message_cont .error_message.active{
    opacity: 1;
}
