.msg_detail_cont{
    padding: 40px 5vw;
    padding-left: 100px;
}
.msg_detail_cont > .heading{
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.msg_detail_cont > .heading::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100px;
    background-color: var(--lineColour);
}
.msg_detail_cont .msg_detail .opt{
    font-size: 18px;
    margin-bottom: 15px;
}
.msg_detail_cont .msg_detail .opt span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    color: var(--lineColour);
}
.msg_detail_cont .msg_detail .opt.msg div{
    margin-top: 10px;
    text-align: justify;
}
.msg_detail_cont .delete{
    position: absolute;
    top: 80px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid var(--lineColour);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgb(161, 0, 0);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.msg_detail_cont .delete:hover{
    background-color: rgb(204, 0, 0);
    border: 2px solid white;
}