
.cat_manager{
    padding-block: 50px;
}
.cat_manager > .heading{
    font-size: 24px;
    margin-bottom: 50px;
}
.cat_manager label{
    font-size: 20px;
}
.cat_manager form .error{
    color: red;
}
.cat_manager .box{
    border: 2px solid var(--lineColour);
    text-align: center;
    margin-block: 10px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    transition: 0.5s ease-in-out;
    background-color: var(--secondary);
}
.cat_manager .box:hover{
    border: 2px solid white;
    filter: brightness(1.2);
}
.cat_manager .box.add_new_cat{
    cursor: pointer;
    border: 2px dashed var(--lineColour);   
}
.cat_manager .box .no_dish{
    font-size: 13px;
}
.cat_manager .box .edit,
.cat_manager .box .delete{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}
.cat_manager .box .edit{
    right: 25px;
    font-size: 18px;
    padding: 3px 10px;
}
.cat_manager .box .edit:hover,
.cat_manager .box .delete:hover{
    opacity: 1;
}
.cat_manager input,
.cat_manager input:focus{
    color: white;
    background-color: var(--secondary);
}